# roles/mysql_cluster/tasks/main.yml
---
- name: "Install MySQL packages"
  ansible.builtin.apt:
    name: "{{ mysql_packages }}"
    state: present
    update_cache: yes

- name: "Configure MySQL (my.cnf)"
  ansible.builtin.template:
    src: my.cnf.j2
    dest: "{{ mysql_config_file }}"
    owner: root
    group: mysql
    mode: '0644'
  notify: restart mysql

- name: "Flush handlers to restart MySQL immediately"
  ansible.builtin.meta: flush_handlers

- name: "Ensure MySQL service is started"
  ansible.builtin.systemd:
    name: "{{ mysql_service_name }}"
    state: started
    enabled: yes

- name: "Set root password"
  ansible.builtin.mysql_user:
    login_unix_socket: /var/run/mysqld/mysqld.sock
    check_implicit_admin: yes
    name: root
    password: "{{ mysql_root_password }}"
    host: localhost
    column_case_sensitive: false
    state: present

- name: "Create .my.cnf for root"
  ansible.builtin.template:
    src: root-my.cnf.j2
    dest: /root/.my.cnf
    owner: root
    group: root
    mode: '0600'

- name: "Remove anonymous users and test db"
  block:
    - ansible.builtin.mysql_user:
        name: ''
        host_all: yes
        state: absent
        column_case_sensitive: false
    - ansible.builtin.mysql_db:
        name: 'test'
        state: absent


# 1. ГОТОВИМ МАСТЕР К РЕПЛИКАЦИИ

- name: "Create replication user (Master only)"
  ansible.builtin.mysql_user:
    name: "{{ mysql_repl_user }}"
    password: "{{ mysql_repl_password }}"
    host: "%"
    column_case_sensitive: false
    priv: "*.*:REPLICATION SLAVE"
    state: present
  when: mysql_replication_role == 'master'

# 2. ТЕПЕРЬ ЗАПУСКАЕМ СЛЕЙВ (ЧТОБЫ ОН БЫЛ ГОТОВ ПРИНИМАТЬ ДАННЫЕ)

- name: "Get replication status (Raw SQL)"
  community.mysql.mysql_query:
    login_unix_socket: /var/run/mysqld/mysqld.sock
    query: "SHOW REPLICA STATUS"
  register: slave_status_raw
  when: mysql_replication_role == 'slave'
  check_mode: no
  changed_when: false

- name: "Stop replication for reconfiguration (Slave only)"
  community.mysql.mysql_replication:
    mode: stopreplica
  when: 
    - mysql_replication_role == 'slave'
    - (slave_status_raw.query_result[0] | length == 0) or 
      ((slave_status_raw.query_result[0][0]['Source_Host'] | default(slave_status_raw.query_result[0][0]['Master_Host'] | default(''))) != mysql_master_ip)

- name: "Configure replication connection (Slave only)"
  community.mysql.mysql_replication:
    mode: changeprimary
    master_host: "{{ mysql_master_ip }}"
    master_user: "{{ mysql_repl_user }}"
    master_password: "{{ mysql_repl_password }}"
    master_auto_position: yes
    master_ssl: 0
  when: 
    - mysql_replication_role == 'slave'
    - (slave_status_raw.query_result[0] | length == 0) or 
      ((slave_status_raw.query_result[0][0]['Source_Host'] | default(slave_status_raw.query_result[0][0]['Master_Host'] | default(''))) != mysql_master_ip)

- name: "Start replication (Slave only)"
  community.mysql.mysql_replication:
    mode: startreplica
  when: mysql_replication_role == 'slave'

# 3. СОЗДАЕМ ДАННЫЕ НА МАСТЕР

- name: "Enable remote login for root (Master only)"
  ansible.builtin.mysql_user:
    login_unix_socket: /var/run/mysqld/mysqld.sock
    name: root
    password: "{{ mysql_root_password }}"
    host: "%"
    column_case_sensitive: false
    priv: "*.*:ALL,GRANT"
    state: present
  when: mysql_replication_role == 'master'

- name: "Create Application DB (Master only)"
  ansible.builtin.mysql_db:
    name: "{{ mysql_db_name }}"
    state: present
  when: mysql_replication_role == 'master' and mysql_db_name | length > 0

- name: "Create Application User (Master only)"
  ansible.builtin.mysql_user:
    name: "{{ mysql_user_name }}"
    password: "{{ mysql_user_password }}"
    priv: "{{ mysql_db_name }}.*:ALL"
    host: '%'
    column_case_sensitive: false
    state: present
  when: mysql_replication_role == 'master' and mysql_user_name | length > 0
